# Auto detect text files and perform LF normalization
* text=auto
# Track all files inside redact/app/models with LFS
redact/app/models/** filter=lfs diff=lfs merge=lfs -text
redact/app/yolo/** filter=lfs diff=lfs merge=lfs -text
